* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  background-color: #423822;
  /*border: 2px solid red;*/
}

/* ---------- NAVBAR ------------ */

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}

.list{
  display: flex;
  color: white;
  gap: 50px;
  list-style: none;
}

.logo{
  width: 120px;
}

.list-item {
  margin-right: 30px;
  color: #929191;
}

.list-item:hover{
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.button-small {
  font-size: 17px;
  color: #788021;
  background: transparent;
  border: 1px solid #788021;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

/*HERO SECTION*/

.hero{
  display: flex;
  flex-direction: column;

}

.text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
}

.hero-heading{
  font-size: 52px;
  color: white;
  width: 60%;
  margin-left: 100px;
}

p{
  color: white;
  font-size: 18px;
  width: 35%;
  line-height: 30px;
}

.image-justice{
  background: url(./assets/justice.jpg) no-repeat center center;
  background-size: 100%;
  flex-grow: 1;
  margin-top: 70px;
}

.bottom{
  height: 100px;
  display: flex;
  justify-content: flex-end;
}
